<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/lista_vagas_empresa.css" />
    <title>Gerenciar vagas</title>
  </head>
  <body>
    <aside>
      <img src="" alt="" />
      <a href="">Perfil</a>
      <span></span>
      <a href="">Gerência de Vagas</a>
    </aside>
    <main>
      <section>
        <h1>Gerência de Vagas</h1>
        <button>Criar Nova Vaga</button>
        <button>Refresh</button>
      </section>
      <section class="container">
        <table>
          <thead>
            <tr>
              <th>Cargo</th>
              <th>Nome Da Empresa</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Desenvolvedor Web Júnior</td>
              <td>Stacks LTDA</td>
              <td class="buttons">
                <button>Editar Vaga</button>
                <button>Remover Vaga</button>
              </td>
            </tr>
            <tr>
              <td>Analista De Dados Junior</td>
              <td>Unreal Data</td>
              <td class="buttons">
                <button>Editar Vaga</button>
                <button>Remover Vaga</button>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </main>
  </body>
</html>
